<h1>Pirate Details</h1>
<h3>Name: <%= @pirate.name %></h3>
<h3>Weight: <%= @pirate.weight %> lbs</h3>
<h3>Height: <%= @pirate.height %> cm</h3>
<br>
<h1>Ship Details</h1>
<% @ships.each_with_index do |ship, i| %>
<h2>Ship # <%= i+1 %></h2>
<h3><%= ship.name %></h3>
<h3><%= ship.type %></h3>
<h3><%= ship.booty %></h3>
<br>
<% end %>